# Development (local)
ConnectionStrings__DefaultConnection=Host=host.docker.internal;Database=<local_database_name>;Username=<local_database_username>;Password=<local_database_password>

# Production
# ConnectionStrings__DefaultConnection=Host=<database_host>.postgres.database.azure.com;Port=5432;Database=<database_name;Username=<database_username>;Password=<database_password>;Ssl Mode=Require;
