@page
@model IndexModel

<h1>Simple Form</h1>

<form method="post">
    <div>
        <label asp-for="InputValue"></label>
        <input asp-for="InputValue" />
    </div>

    <button type="submit">Submit</button>
</form>